.appBarUserDetails {
  width: 100vw;
  flex-grow: 1;
  display: flex;
  justify-content: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.image {
  flex-basis: 40%
}

.text {
  padding-left: 20px;
}

