.commentText {
	margin-bottom: 1em;
	font-weight: 400;
	align-self: center;
	position: relative;
	top: 0.4em;
}

.commentContainer {
	background-color: white;
	padding: 1em 1em 1em 1em;
	margin-top: 1em;
	border: 1px solid lightgray;
	border-radius: 3px;
}

.middleContainer {
	display: flex;
	align-items: center;
	grid-gap: 0em 1em;
}

.topContainer {
	display: flex;
}